*.logs
*.tmp
.idea
/python/
/venv/
__pycache__
index.html
20th-aug-23.txt
todo.txt
en_thesaurus.jsonl
Chat.txt
bot.py
clean_whatsapp_export.py
test_2.py
SQLite3/sqlite3db_BLOB.db
/SQLite3/sqlite3db.db
SQLite3/resume_1.txt
SQLite3/resume_2.txt
SQLite3/IMG_20230910_131236.jpg 
SQLite3/PXL_20230505_103914098.jpg
